{% extends 'base.html' %}

{% block content %}
<h2 class="form-group">Create access rule</h2>
<div class="form-group" id="dataTable"></div>
<button class="btn btn-primary" id="add">Add rule</button>
<button class="btn btn-success" id="submit">Submit</button>
{% endblock content %}


{% block css %}
<link rel="stylesheet" href="/static/core/css/handson-table.css">
{% endblock css %}

{% block js %}
<script src="/static/core/js/handson-table.js"></script>
<script src="/static/core/js/sweet-alert.js"></script>
<script src="/static/cm/checkpoint/js/create-task.js"></script>
{% endblock js %}