{% extends 'base.html' %}

{% block title %}ICMS | Device Interface Detail{% endblock title %}

{% block content %}

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Detail information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ object.device_ip.device_name }}</td>
            </tr>
            <tr>
                <td>IP</td>
                <td>{{ object.device_ip }}</td>
            </tr>
            <tr>
                <td>List interface</td>
                <td>
                    {% for item in object.list_interface_name.data %}
                    <p>{{item}}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>List interface description</td>
                <td>
                    {% for item in object.list_interface_desc.data %}
                    <p>{{item}}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>List interface state</td>
                <td>
                    {% for item in object.list_interface_state.data %}
                    <p>{{item}}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>List interface type</td>
                <td>
                    {% for item in object.list_interface_type.data %}
                    <p>{{item}}</p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<a href="/inventory/list-device/device-interface"><button
        type="button"
        class="btn btn-warning">Back</button></a>

{% endblock content %}
