{% extends 'base.html' %}

{% block title %}ICMS | Device Dashboard{% endblock title %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="dashboard-view">
	<div id="chartContainer-01" style="height: 300px; width: 100%;"></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="dashboard-view">
	<div id="chartContainer-02" style="height: 300px; width: 100%;"></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="dashboard-view">
	<div id="chartContainer-03" style="height: 300px; width: 100%"></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="dashboard-view">
	<div id="chartContainer-04" style="height: 300px; width: 100%"></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="dashboard-view">
	<div id="chartContainer-05" style="height: 300px; width: 100%"></div>
</div>

{% endblock content %}

{% block css %}
<link rel="stylesheet" href="/static/inventory/css/dashboard.css">
{% endblock css %}

{% block js %}
<script src="/static/core/js/canvas.js"></script>
<script src="/static/inventory/js/dashboard-01.js"></script>
<script src="/static/inventory/js/dashboard-02.js"></script>
<script src="/static/inventory/js/dashboard-03.js"></script>
<script src="/static/inventory/js/dashboard-04.js"></script>
<script src="/static/inventory/js/dashboard-05.js"></script>
{% endblock js %}

