{% extends 'base.html' %}
{% block title %} ICMS | List device {% endblock title %}
{% block content %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="table-responsive">
        <table class="table table-hover table-bordered" id="list-device-basic-info-table">
            <thead>
                    <th>Device name</th>
                    <th>IP</th>
                    <th>Location</th>
                    <th>Device type</th>
                    <th>Category</th>
                    <th>Device OS</th>
                    <th>Stack</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {% for obj in devices %}
                <tr>
                    <td>{{ obj.device_name }}</td>
                    <td>{{ obj.device_ip }}</td>
                    <td>{{ obj.device_location }}</td>
                    <td>{{ obj.device_type }}</td>
                    <td>{{ obj.device_category }}</td>
                    <td>{{ obj.device_os }}</td>
                    <td>{{ obj.device_stack }}</td>
                    <td>
                        <a href="/inventory/list-device/device-basic-info/update/{{ obj.id }}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
                        <a data-toggle="modal" href='#delete-device-modal' id="{{ obj.id }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        <a href="/inventory/list-device/device-basic-info/detail/{{ obj.id }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-device-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action method="post" id='delete-device-from'>
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Device</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete this device?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

{% block css %}
<link rel="stylesheet" href="/static/core/css/jquery-datatable.css">
{% endblock css %}

{% block js %}
<script src="/static/core/js/jquery-datatable.js"></script>
<script src="/static/inventory/js/list-device-basic-info.js"></script>
{% endblock js %}
