{% extends 'base.html' %}
{% block title %} ICMS | List device management {% endblock title %}
{% block content %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="table-responsive">
        <table class="table table-hover table-bordered" id="list-device-management-table">
            <thead>
                    <th>Device IP</th>
                    <th>Serial number</th>
                    <th>End MA</th>
                    <th>End License</th>
                    <th>End SW SP</th>
                    <th>End HW SP</th>
                    <th>Start used</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {% for obj in devices %}
                <tr>
                    <td>{{ obj.device_ip }}</td>
                    <td>{{ obj.device_serial_number }}</td>
                    <td>{{ obj.end_ma_date }}</td>
                    <td>{{ obj.end_license_date }}</td>
                    <td>{{ obj.end_sw_support_date }}</td>
                    <td>{{ obj.end_hw_support_date }}</td>
                    <td>{{ obj.start_used_date }}</td>
                    <td>
                        <a href="#"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block css %}
<link rel="stylesheet" href="/static/core/css/jquery-datatable.css">
{% endblock css %}

{% block js %}
<script src="/static/core/js/jquery-datatable.js"></script>
<script src="/static/inventory/js/list-device-management.js"></script>
{% endblock js %}